.fish {
    svg {
        width: 300px;
        fill: blue;
    }
}

.background {
    background: linear-gradient(#ebffdf, lightblue);
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;

    top: 0;
    left: 0;
    z-index: -2;
}