.background {
    background: linear-gradient(#ebffdf, lightblue);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
}

.container {
    align-items: center;
}

.centreText {
    text-align: center;
}

.catchText {
    font-family: 'Oswald', sans-serif;
    font-size: 32px;
}

.countText {
    font-family: 'Oswald', sans-serif;
    font-size: 26px;
}
