
mat-drawer-container {
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    padding: 32px 0;
}

.fish {
    svg {
        width: 300px;
        fill: black;
    }
}

.background {
    background: linear-gradient(#ebffdf, lightblue);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
    overflow: hidden;
}

.container {
    align-items: center;
}

.centreBottom {
    position: absolute;
    left: 45%;
    top: 80%;
}

.centreMiddle {
    position: absolute;
    left: 45%;
    top: 20%;
}

.centreTop {
    position: absolute;
    left: 45%;
    top: 10%;
}

.topRight {
    position: absolute;
    top: 5%;
    right: 5%;
}

.catchText {
    font-family: 'Oswald', sans-serif;
    font-size: 32px;
    text-align: center;
}

.countText {
    font-family: 'Oswald', sans-serif;
    font-size: 26px;
}
